Solution2/WebServiceRequest/WebServiceRequest/Connected Services/AdditionService/WebServiceAddition.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Addition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdditionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Difference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DifferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DifferenceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Product">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProductResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Division">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivisionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Square">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SquareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SquareResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cube">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CubeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CubeResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AdditionSoapIn">
    <wsdl:part name="parameters" element="tns:Addition" />
  </wsdl:message>
  <wsdl:message name="AdditionSoapOut">
    <wsdl:part name="parameters" element="tns:AdditionResponse" />
  </wsdl:message>
  <wsdl:message name="DifferenceSoapIn">
    <wsdl:part name="parameters" element="tns:Difference" />
  </wsdl:message>
  <wsdl:message name="DifferenceSoapOut">
    <wsdl:part name="parameters" element="tns:DifferenceResponse" />
  </wsdl:message>
  <wsdl:message name="ProductSoapIn">
    <wsdl:part name="parameters" element="tns:Product" />
  </wsdl:message>
  <wsdl:message name="ProductSoapOut">
    <wsdl:part name="parameters" element="tns:ProductResponse" />
  </wsdl:message>
  <wsdl:message name="DivisionSoapIn">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="DivisionSoapOut">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:message name="SquareSoapIn">
    <wsdl:part name="parameters" element="tns:Square" />
  </wsdl:message>
  <wsdl:message name="SquareSoapOut">
    <wsdl:part name="parameters" element="tns:SquareResponse" />
  </wsdl:message>
  <wsdl:message name="CubeSoapIn">
    <wsdl:part name="parameters" element="tns:Cube" />
  </wsdl:message>
  <wsdl:message name="CubeSoapOut">
    <wsdl:part name="parameters" element="tns:CubeResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceAdditionSoap">
    <wsdl:operation name="Addition">
      <wsdl:input message="tns:AdditionSoapIn" />
      <wsdl:output message="tns:AdditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Difference">
      <wsdl:input message="tns:DifferenceSoapIn" />
      <wsdl:output message="tns:DifferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Product">
      <wsdl:input message="tns:ProductSoapIn" />
      <wsdl:output message="tns:ProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:input message="tns:DivisionSoapIn" />
      <wsdl:output message="tns:DivisionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Square">
      <wsdl:input message="tns:SquareSoapIn" />
      <wsdl:output message="tns:SquareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cube">
      <wsdl:input message="tns:CubeSoapIn" />
      <wsdl:output message="tns:CubeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceAdditionSoap" type="tns:WebServiceAdditionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addition">
      <soap:operation soapAction="http://tempuri.org/Addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Difference">
      <soap:operation soapAction="http://tempuri.org/Difference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Product">
      <soap:operation soapAction="http://tempuri.org/Product" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://tempuri.org/Division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Square">
      <soap:operation soapAction="http://tempuri.org/Square" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cube">
      <soap:operation soapAction="http://tempuri.org/Cube" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceAdditionSoap12" type="tns:WebServiceAdditionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addition">
      <soap12:operation soapAction="http://tempuri.org/Addition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Difference">
      <soap12:operation soapAction="http://tempuri.org/Difference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Product">
      <soap12:operation soapAction="http://tempuri.org/Product" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap12:operation soapAction="http://tempuri.org/Division" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Square">
      <soap12:operation soapAction="http://tempuri.org/Square" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cube">
      <soap12:operation soapAction="http://tempuri.org/Cube" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceAddition">
    <wsdl:port name="WebServiceAdditionSoap" binding="tns:WebServiceAdditionSoap">
      <soap:address location="https://localhost:44307/WebServiceAddition.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceAdditionSoap12" binding="tns:WebServiceAdditionSoap12">
      <soap12:address location="https://localhost:44307/WebServiceAddition.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>